.header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 1%;
    width: 100%;
    right: 0%;
    top: 0%;
    position: absolute;
}

.header-text {
    color: white;
    font-size: 50px;
}

.last-edited {
    color: white;
    font-size: 10px;
    float: right;
}

.footer {
    color: white;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    right: 0%;
    bottom: 0%;
    position: absolute;
    grid-auto-flow: column;
}

.footer-text {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-right: 210px;
}

.validation-icons {
    padding-left: 5px;
    float: left;
}