body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    color: white;
    background-color: black;
    text-align: center;
    position: relative;
}

.header-text {
    color: white;
    font-size: 50px;
}

.header-logo {
    float:left;
    content:url(../assets/logo.png);
    margin-left: 1%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    position:absolute;
}

.last-edited {
    color: white;
    font-size: 10px;
    float: right;
    margin-right: 1%;
}

.footer {
    color: white;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    right: 0%;
    bottom: 0%;
    position: absolute;
    grid-auto-flow: column;
}

.footer-text {
    color: white;
    font-size: 20px;
    text-align: center;
}

.validation-icons {
    padding-left: 5px;
    float: left;
    position:absolute;
}

.body-text {
    margin-left: 1%;
}

.navbar {
    color: white;
    background-color: black;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 1%;
}

.navbar-list {
    color: white;
    background-color: black;
    display: block;
    text-align: center;
    display: inline;
    padding: 2%;
}

.navbar-button {
    color: white;
    background-color: black;
    display: block;
    text-align: center;
    display: inline;
    padding: 2%;
}

.navbar-button:hover {
    background-color: gray;
    color: white;
}

.org-table-head {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.org-table-edge {
    padding: 5%;
}

.org-table-body {
    border: 1px solid black;
    text-align: center;
    padding: 2%;
}


.portrait {
    height: 200px;
    width: auto;
}

.prod-image {
    height: 100px;
    width:auto
}

.radio-label {
    display: inline-block;
}

.radio-input {
    margin: 0 auto;
    display: block;
}

.result-top {
    margin: auto;
}
.result-bar {
    height: 24px;
    background-color: aqua;
}