header {
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

header-text {
    color: white;
    font-size: 50px;
    size: 100px;
    padding: 15px;
}


footer {
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}